/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*========== VARIABLES CSS ==========*/
:root{
    /*========== COLORES ==========*/
    --first-color: #1b629575;
    --first-color-dark: #2871a5;
    --first-color-ligth: #ffffff;
    --second-color: #2b8ace48;
    --title-color: #302d2d;
    --text-color: #58555e;
    --box-shadow-color: 0px 5px 15px 0px #80808079;
    --body-color: #f9f6fd;
    
    /*========== TAMAÑO LETRAS ==========*/
    --xlarge-font-size: 3rem;
    --large-font-size: 1.4rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

}
/*========== BASE ==========*/
*{
    font-family: "Poppins";
    margin: 0%;
    padding: 0%;
}
body{
    background-color: var(--body-color);
}
/*========== ENCABEZADO  ==========*/
header{
    width: 100%;
    background: url(pharmacy-shelves-with-medical-medicines-cartoon-illustration-vector.jpg);
}  
header .header-body{
    background-color: #63b2eba9;
    padding-top: 20rem;
    padding-bottom: 20rem;
    text-align: center;
} 

.header-body p{
    font-weight: bold;
    font-size: 3.5rem;
    color: var(--first-color-ligth);
    text-decoration: overline ;
    background-color: #51758f6c;
    padding-top: 45px;
    padding-bottom: 45px;
    text-shadow: 0px 0px 50px black
}
.header-body a{
    color: var(--first-color-ligth);
}
.header-body .btn{
    background-color: #6c99cb;
    border-radius: 30px;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow:  0px 0px 50px rgb(4, 17, 62);
}
/*========== NAVEGACION ==========*/
nav{
    background-color: var(--first-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: var(--box-shadow-color);
    position: sticky;
    top: 0%;

}
.nav-logo{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.nav-logo a{
    margin: 0.5rem;
    color: var(--first-color-ligth);
    text-decoration: none;
}

/* se cambia */
.nav-logo strong{
    font-size: 25px;
}
/* ---------- */

.main-nav{
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
}
.main-nav .enlace{
    margin-right: 1rem;
}
.main-nav .enlace a i{
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--first-color-ligth);

}
.main-nav .user i{
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--first-color-ligth);
 
}
.main-nav p{  
    font-size: var(--small-font-size);
    color: var(--first-color-ligth);
    text-decoration: none;
}
span{
    font-size: 2rem;
}
/*========== NAV CONTENIDO ==========*/
.nav-header-main a{
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--first-color-ligth);
    background-color: var(--first-color);
    padding-left: 100px;
    padding-right: 100px;
    
}
.nav-header-footer a{
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--first-color-dark);
    text-align: center;
    text-decoration: underline;
    
}
.nav-body{
    text-align: left;
}

.link-container label{
    font-size: var(--large-font-size);
    font-weight: bold;
    padding: 0.5rem;
    color: var(--title-color);
}
.link-body{
    display: grid;
}
.link-body a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;

}
.link-body a:hover{
    color: var(--first-color-ligth);
    text-decoration: none;
    font-size: 1.1rem;
    background-color: var(--first-color);
    padding: 0.5rem;
    box-shadow: var(--box-shadow-color);
    margin-left: 5rem;
    border-radius: 30px;
    transition: all 0.2s;
}

.nav-footer a{
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--first-color-ligth);
    background-color: var(--first-color);
}
/*========== NAV CARRO ==========*/
.nav-carro-main{
    display: grid;
}
.nav-carro-main .descripcion {
    margin-left: 1rem;
    display: flex;
}
.nav-carro-main .descripcion p{
    color: var(--title-color) ;
    font-size: var(--small-font-size);
}
.nav-carro-main .descripcion span{
    color: var(--title-color) ;
    font-size: var(--large-font-size);
    margin-left: 1rem;
}
.precio{
    margin-left: 1rem;
}
.precio .btn{
    background-color: var(--first-color);
}
.valor{
    display: flex;
    align-items: center;

}
.valor p{
    width: 1.5rem;
    text-align: center;
}
.nav-carro-footer{
    margin-bottom: 5rem;
}
.nav-carro-footer .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    
}
.nav-carro-footer p{
    color: var(--title-color) ;
    text-align: left;
    font-size: var(--normal-font-size);


}
.nav-carro-footer a{
    font-size: var(--normal-font-size);
    text-decoration: none;
    color: var(--first-color-ligth);
    background-color: var(--first-color);
    padding-left: 120px;
    padding-right: 120px;
}
/*========== CONTENIDO PRINCIPAL ==========*/
main{
    margin-bottom: 5rem;
}
main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}
.caja{
    background-color: var(--box-shadow-color);
    margin: 10px;
}
.card{
    position: static;
    margin: auto;
    margin-top: 3rem;
    box-shadow: var(--box-shadow-color);
    max-width: 400px;
}


.descripcion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

}
.descripcion p{
    text-align:start;
    color: var(--title-color) ;
    font-size: var(--small-font-size);
    margin: 2rem;
}
.descripcion span{
    color: var(--title-color) ;
    font-size: var(--large-font-size);
    margin-left: 2rem;
}

.btn{
    text-align: center;
    margin: 1rem;
    background-color:var(--first-color) ;
    color: var(--first-color-ligth);
}




/*========== FOOTER ==========*/
footer{
    padding: 1%;
    width: 100%;
    background-color: var(--first-color)
}
footer .container{
    justify-content: space-evenly;
    display: flex;
}
footer .container p{
    font-weight: bold;
    color: var(--first-color-ligth);
}
.footer-body{
    text-align: left;
    display: grid;
}
.footer-body i{
    font-size: 2rem;

}

footer .container a{
    color: var(--first-color-ligth);
    text-decoration: none;

}